html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  word-break: break-all;
}

button:focus{
  outline: none;
}

.offcanvas-collapse {
  z-index: 1;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top : 0px;/* weight of navbar */
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); /* Account for horizontal padding on navbar */
  }
}
@media (min-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top : 0px;/* weight of navbar */
    bottom: 0;
    width: 20%;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); /* Account for horizontal padding on navbar */
  }
}
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.contain{
  margin-left: 50px; /* Same as the width of the sidenav */
  margin-right: 0px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.navbar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 2;
  display: block;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px 10px;
}
.offcanvas-collapse a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.offcanvas-collapse a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}
.active {
    background-color: green;
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #343a40;
    padding-left: 8px;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.img-thumbnail{
  height: 75%;
  width: 75%;
  max-width: 300px;
  max-height: 300px;
}
#upload{
  width: 180px;
}
.setting-form{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.containbiggermain{
  margin-left: 50px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  animation-duration: .3s;
  animation-name: biggermain;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.containsmallermain{
  margin-left: 50px; /* Same as the width of the sidenav */
  margin-right : 20%;
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  animation-duration: .3s;
  animation-name: smallermain;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes biggermain {
  from {
    margin-right:20%;
  }
  
  to {
   margin-right:0%;
 }
}
@keyframes smallermain {
  from {
    margin-right:0%;
  }
  
  to {
    margin-right:20%;
 }
}